node_modules
dist
*.log
npm-debug.log*

.env
.env.local
.env.*.local

*.db
*.sqlite

.vscode
.idea
*.sw?

.DS_Store
Thumbs.db

*.js                                                                                                                                                                                                                
*.js.map 
